* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: red;
}

.Dashboard {
    width: 100%;
    height: 100vh;
    background-color: darkseagreen;

    display: flex;
}

.Dashboard-Left-Panel {
    background-color: darkseagreen;
    width: 50%;
    height: 100%;
}

.Dashboard-Right-Panel {
    background-color: darkred;
    width: 50%;
    height: 100%;
}