/*

 This file specifies form inside upload.php view.

 Overview:

  Form
    box-01
        .Frame * 4
            label for:photo-xx
            input#photo-xx type:file
    box-02
        div
            label
            input#title

            label
            input#localization style: hidden

            label
            textarea#description
        div
            #map
    box-03
        input*2

*/


/* ---------------------------------------------------------
                        form
------------------------------------------------------------

    This form serve users to upload items to database and let
    other users to get them.

 */


form {

    text-align: center;

    background-color: var(--form-color);
    width: fit-content;

    padding: 3rem 2rem;

    border-radius: 1rem;
    border: var(--border-color) solid 0.01rem;
}


form h2 {
    font-weight: normal;

}


/* ---------------------------------------------------------
                        #box-01
------------------------------------------------------------

 Overview:

    box-01
        .Frame * 4

*/

form #box-01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 5rem 0;
}


.Frame {
    width: 10rem;
    height: 15rem;

    overflow: hidden;

    background-color: #EFEFEF;
    border-radius: 1rem;
    border: 0.01rem dashed var(--border-color);

    margin: .1rem .1rem;

    cursor: pointer;
}

.Frame img {
    visibility: visible;
    filter: opacity(0.5);
    transform: scale(4);
}

.Frame div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.Frame:hover img {
    visibility: visible;
}

.Frame:hover div {
    background-color: rgba(141, 141, 141, 0.44);
}

.Frame img {
    transition: all 200ms ease-in-out;
}

.Frame div {
    transition: all 200ms ease-in-out;
}

input[type='file'] {
    display: none;
}


/* ---------------------------------------------------------
                        #box-02
-------------------------------------------------------------

 Overview:

 box-02
        div
            label
            input#title

            label
            input#localization style: hidden

            label
            textarea#description
        div
            #map
------------------------------------------------------- */

form #box-02 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Here is map and description */
form #box-02 > div {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 0.2rem;

    width: 50%;
    min-width: min-content;
}

/* Inputs and labels: */

/* Localization input is not displayed. */
#localization {
    display: none;
}

label[for='localization'] {
    display: none;
}

#description {
    width: 20rem;
    height: 10rem;

    padding: 1rem 1rem;
    margin: 1rem 0;

    resize: none;

    border-radius: 1rem;
    border: var(--border-color) 0.01rem solid;

    outline: none;

}

#title {
    min-width: 20rem;

    padding: 0.3rem 1rem;

    border-radius: 1rem;
    border: var(--border-color) 0.01rem solid;

    outline: none;

}


/* ----------------------------------------------
                       map
-------------------------------------------------

    Map comes from Mapbox.

*/

#map {
    width: 100%;
    height: 20rem;

}


/* ---------------------------------------------------------
                        #box-03
-----------------------------------------------------------

 Overview:

     box-03
        input*2


 */


#box-03 {

    margin: 4rem auto 0 auto;

    /*margin-left: auto;*/
    /*margin-right: auto;*/

    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


/* FIXME: Tutaj porawić powatrza się kod niepotrzebnie..*/

#box-03 input[type='submit'] {
    padding: 0.3rem 1rem;

    border-radius: 1rem;
    border: var(--border-color) 0.01rem solid;

    transition: all 200ms ease-in-out;
}

#box-03 input[type='submit']:hover {
    background-color: #ababab;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

#box-03 input[type='reset'] {
    padding: 0.3rem 1rem;

    border-radius: 1rem;
    border: var(--border-color) 0.01rem solid;

    transition: all 200ms ease-in-out;
}

#box-03 input[type='reset']:hover {
    background-color: #ababab;
    color: rgb(54, 54, 54);
    cursor: pointer;
}