@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

@media only screen and (max-width: 500px ) {
    * {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    * {
        font-size: 20px;
    }
}


/*
     This files contains only row tags' style.

*/


* {
    /* Colors: */
    --font-color: rgb(45, 45, 45);
    --border-color: rgba(112, 112, 112, 0.5);
    --form-color: rgba(222, 222, 222, 0.53);


    /* Sizing: */
    box-sizing: border-box;
    margin: 0;

    /* Font: */
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;

}

h1 a, h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

h2 a, h2 {
    font-size: 2rem;
}


a {
    text-decoration: none;
    color: var(--font-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* || Navigation: */

nav {
    width: 100%;
    height: max-content;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-shadow: 1px 1px 0.5rem black;
}


#avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}


/* || Footer: */

footer {
    width: 90%;
    border-top: solid 0.01rem black;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

footer ul {
    list-style: none;
}

footer ul {
    display: flex;
    flex-direction: column;
}


footer div {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

footer > div {
    margin-top: 2rem;
}


/* || Main: */

main {
    /*padding: 4rem 4rem;*/
    display: flex;
    align-items: start;
    justify-items: start;


    width: 100%;
    min-height: 38rem;
}

#items-container {
    width: 100%;

    display: inline-flex;
    flex-flow: row wrap;

}




.Waiting-Block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Waiting-Block div {
    width: 7rem;
    height: 7rem;
}

.Waiting-Block div div {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
    animation-name: waiting;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes waiting {

    0% {
        top: 0;
        left: 0;
    }
    25% {
        left: 3.5rem;
        top: 0;
    }
    50% {
        left: 3.5rem;
        top: 3.5rem;
    }
    75% {
        left: 0;
        top: 3.5rem;
    }
    100% {
        left: 0;
        top: 0;
    }

}

.Item {
    width: 10rem;
    height: 15rem;

    margin: 1rem 1rem;

    cursor: pointer;

    box-shadow: 2px 2px 0.3rem black;

    overflow: hidden;

    position: relative;
    z-index: 2;

    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: auto min-content;
    grid-template-areas: "." "info";

    background-color: rgba(128, 128, 128, 0.5);

}


.Info {
    grid-area: info;
    padding: 1rem 1rem;

    position: relative;
    z-index: 2;

}


.Item h3 {
    color: white;
    font-weight: normal;
}

.Distance {
    color: white;
    font-size: 0.6rem;
}

.Item img {

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
}

.Error-Image {

    align-self: center;

    width: 50%;
    height: 50%;

    position: absolute;
    z-index: -1;

}