
.ProductDashedFrame {
    width: 12rem;
    height: 15rem;

    border-radius: 1.5rem;
    border: dashed 0.15rem black;

    padding: 1rem 1rem;
    margin: 0.5rem;

}

main {
    padding: 2.5rem;
}

label {
    height: 15rem;
    width: 10rem;

    border-radius: 1rem;
    border: 0.1rem dashed grey;
    cursor: pointer;

    display: inline-block;
}

label:hover {
    border: black dashed 0.1rem;
}

input[type="file"] {
    display: none;
}
