@import "TextInput.css";
@import "Button.css";
@import "Label.css";


.Form {
    text-align: center;
    width: min-content;
}

.Form div {
    margin: 0.5rem 0;
}

.Form > input {
    margin: 1rem 0;
}