.TextInput {
    width: 14rem;
    height: 2rem;

    padding: 0.1rem 1rem;

    border-radius: 2rem;
    border: 0.05rem solid var(--grey);
    outline: none;

    font-size: 0.9rem;
    font-weight: lighter;
}

